/1_el_stove/ElectricStove_EDU_1/nbproject/private/
/1_el_stove/ElectricStove_EDU_1/build/
/0_object_introduction/Object_introduction/nbproject/private/
/0_object_introduction/Object_introduction/build/
/rework_1_el_stove/ElectricStove_EDU_1/build/
/rework_1_el_stove/ElectricStove_EDU_1/nbproject/private/
/cv_1/Object_introduction/dist/
/cv_2/Object_introduction/dist/
/00_how_to_create_project/00_how_to_create_project_in_NetBeans/nbproject/private/
/00_how_to_create_project/00_how_to_create_project_in_NetBeans/build/
/00_how_to_create_project/00_how_to_create_project_in_NetBeans/dist/
/cv_3/Object_introduction/build/
/cv_3/Object_introduction/dist/
/cv_3/Object_introduction/nbproject/private/
/cv_5/Object_introduction/build/
/cv_5/Object_introduction/dist/
/cv_5/Object_introduction/nbproject/private/
/cv_7/Object_introduction/dist/
/cv_7/Object_introduction/build/
/cv_7/Object_introduction/nbproject/private/
/cv_8/Object_introduction/build/
/cv_8/Object_introduction/nbproject/private/
/cv_8/Object_introduction/dist/