/1_el_stove/ElectricStove_EDU_1/nbproject/private/
/1_el_stove/ElectricStove_EDU_1/build/
/0_object_introduction/Object_introduction/nbproject/private/
/0_object_introduction/Object_introduction/build/
/rework_1_el_stove/ElectricStove_EDU_1/build/
/rework_1_el_stove/ElectricStove_EDU_1/nbproject/private/
/cv_1/Object_introduction/dist/
/cv_2/Object_introduction/dist/